/* Arial */

@font-face {
    font-family: "Arial";
    src: url("fonts/Arial.eot");
    src: url("fonts/Arial.eot?#iefix") format("embedded-opentype"), url("fonts/Arial.woff") format("woff"), url("fonts/Arial.ttf") format("truetype"), url("fonts/Arial.svg#uxfonteditor") format("svg");
}

/* Arial-bd */

@font-face {
    font-family: "Arial-bd";
    src: url("fonts/Arial-bd.eot");
    src: url("fonts/Arial-bd.eot?#iefix") format("embedded-opentype"), url("fonts/Arial-bd.woff") format("woff"), url("fonts/Arial-bd.ttf") format("truetype"), url("fonts/Arial-bd.svg#uxfonteditor") format("svg");
}

/*微軟正黑體-regular*/
@font-face {
    font-family: "msjh-regular";
    src: url("fonts/msjh-regular.eot"); /* IE9 */
    src: url("fonts/msjh-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("fonts/msjh-regular.woff") format("woff"), /* chrome、firefox */
    url("fonts/msjh-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("fonts/msjh-regular.svg#Microsoft JhengHei") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

/* Helvetica-bold */
@font-face {
    font-family: "Helvetica-bold";
    src: url("fonts/Helvetica-bold.eot"); /* IE9 */
    src: url("fonts/Helvetica-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/Helvetica-bold.woff") format("woff"), /* chrome、firefox */
    url("fonts/Helvetica-bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("fonts/Helvetica-bold.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}

/* Helvetica-regular */
@font-face {
    font-family: "Helvetica-regular";
    src: url("fonts/Helvetica-regular.eot"); /* IE9 */
    src: url("fonts/Helvetica-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/Helvetica-regular.woff") format("woff"), /* chrome、firefox */
    url("fonts/Helvetica-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("fonts/Helvetica-regular.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}

/*  Font */

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 1em;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.fl {
    float: left;
}

.rg {
    float: right;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}
/**
 * 150dpi基准的A4尺寸大小
 */
.page {
    width: 1240px;
    background-size: 100% auto;
    height: 1754px;
}